<header>
  <div class="container-fluid align-items-center m-0 p-0">


    <div class="jumbotron text-center" style="margin-bottom:0">
<!--      <a href="https://www.agoda.com/vi-vn/?cid=1891453&tag=26b932a7-0d36-a32b-8d98-f99b15e43afe&ckuid=94963b88-4b37-4690-9deb-91ea16a693de" style="float:left;"  >-->
<!--        <img src="https://nhanlucnganhluat.vn/uploads/images/051D288B/logo/2018-12/Logo-FURAMA-RESORT.jpg" style="width: 200px;height: 50px"></a>-->
      <h5 style="text-align: center">Hồ Ngọc Đăng Khoa</h5 >
    </div>
  </div>
</header>
